In [12]:
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

In [55]:
# read the Wikipedia table
data = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
df=data[0]

# set column names
df.columns=['PostalCode','Borough','Neighbourhood']

In [57]:
# Remove rows in Borough where value is Not assigned
df = df[df.Borough != 'Not assigned']

In [59]:
# Group any postcode duplicates in rows together
df=df.groupby("PostalCode").agg(lambda x:','.join(set(x)))

In [64]:
# shape of the dataframe
df.shape

(103, 2)

In [67]:
!wget -q -O 'Geospatial_data.csv' http://cocl.us/Geospatial_data

print('Success!')

Success!

In [68]:
geo_df = pd.read_csv('Geospatial_data.csv')

In [69]:
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [71]:
df['Latitude']=geo_df['Latitude'].values
df['Longitude']=geo_df['Longitude'].values

In [72]:
df.head()

,Borough,Neighbourhood,Latitude,Longitude
PostalCode,,,,
M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476